 {% load humanize %}

    <div align="center">
      <h1>Accounting Summary</h1> 
    </div>

    <table class="datatableH display"> 
      <thead align="center">
        <tr>
          <th/>
          <th colspan="2">Elapsed HS06 hours * #cores used in year to date</th>
          <th colspan="3">disk used in year to date</th>
          <th colspan="4">disk at end of period</th>
          <th colspan="3">tape used in year to date</th>
          <th colspan="4">tape at end of period</th>
        </tr>
        <tr>
          <th id="mygrey">Site Summary</th>
          <th id="mygrey">{{ report_dates }}</th>
          <th id="mygrey">% pledge</th>
          <th id="mygrey">TByte-months</th>
          <th id="mygrey">% installed </th> 
          <th id="mygrey">% pledge </th>
          <th id="mygrey">TBytes occupied</th>
          <th id="mygrey">occupied *</th>
          <th id="mygrey">occupied **</th>
          <th id="mygrey">installed **</th>
          <th id="mygrey">TByte-months </th>
          <th id="mygrey">% installed  </th> 
          <th id="mygrey">% pledge  </th>
          <th id="mygrey">TBytes occupied </th>
          <th id="mygrey">occupied * </th>
          <th id="mygrey">occupied ** </th>
          <th id="mygrey">installed ** </th>
       </tr>
     </thead>
     <tbody>
      {% for site in my_page.sites %}
        <tr>
            <td align="center"  {% if exp.name = 'TOTAL' %} id="mygrey" {%endif%} > {{site.name}}</td>
            {% for v in site.values %}
              <td align="center"  {% if exp.name = 'TOTAL' %} id="mygrey" {%endif%}  >{% autoescape off %}{{ v|intcomma }}{% endautoescape %}</td>
            {%endfor%}
        </tr>
      {%endfor%}
     </tbody>
    </table>
 
    <br>
 
    <table class="datatableH display">
      <thead align="center">
        <tr>
          <th id="mygrey">VO Summary</th>
          <th id="mygrey">Elapsed HS06-hours * #cores</th> 
          <th id="mygrey">% of total</th>
          <th id="mygrey">Disk TBytes</th>
          <th id="mygrey">% of total </th>
          <th id="mygrey">Tape TBytes</th>
          <th id="mygrey">% of total  </th>
        </tr>
      </thead>
      <tbody>
        {% for exp in my_page.experiments %}
          <tr>
              <td align="center"  {% if exp.name = 'TOTAL' %} id="mygrey" {%endif%} > {{exp.name}}</td>
              {% for v in exp.values %}
                <td align="center"  {% if exp.name = 'TOTAL' %}  id="mygrey"  {%endif%}> {{v|intcomma}}</td>
              {%endfor%}
          </tr>
        {%endfor%}
      </tbody>
    </table>

    

