body {
	background-color: #FFFFFF;
	color: #000000;
	font-size: .5px;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
hr {
	color: #666666;
	background-color: #FFFFFF;
}
.outlined {
	border: 1px solid #000000;
}
.outlined2 {
	border: 1px solid #000000;
}
.navbar-nav { /*margin-left: 120px;*/ }
/*.navbar-title {
	font-size: 0.8em;
	color: #FFFFFF;
	font-weight: bold;
}
.navbar {
	font-size: 0.6em;
	background-color: #FFFFFF;
}
}
.sidebar-orange {
	background-color: #ffe5b2;
	background-image: url(images/orange-globe.jpg);
	background-position: right center;
	background-repeat: no-repeat;
}
.sidebar-green {
	background-image: url(images/green-pulse.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #dcf6de;
}
.sidebar-blue {
	background-color: #dcf4f6;
	background-image: url(images/blue-bars.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.sidebar-pink {
	background-color: #efdcf6;
	background-image: url(images/pink-news.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}*/
.note {
	background-color: #E4E4E4;
	border: 1px dotted #000000;
	padding: 5px;
}
.note2 {
	font-size: 1.1em;
	font-weight: bold;
	background-color: #FFF000;
	border: 1px dotted #000000;
	padding: 5px;
}
.tabletext {
	font-size: 0.8em;
	color: #000000;
	background-color: #DDDDDD;
}
.tabletext0 {
	font-size: 0.8em;
	color: #000000;
	background-color: #FF0000;
}
.tabletext1 {
	font-size: 0.8em;
	color: #000000;
	background-color: #FF9933;
}
.tabletext2 {
	font-size: 0.8em;
	color: #000000;
	background-color: #FFCC66;
}
.tabletext3 {
	font-size: 0.8em;
	color: #000000;
	background-color: #FFFF66;
}
.tabletext4 {
	font-size: 0.8em;
	color: #000000;
	background-color: #00FF00;
}
.tabletext5 {
	font-size: 0.8em;
	color: #000000;
	background-color: #00FFFF;
}
.tabletextor {
	font-size: 0.8em;
	color: #000000;
	background-color: #C0C0C0;
	font-weight: bold;
	font-style: italic;
}

.tableheader {
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #000000;
	font-weight: bold;
	text-align: center;
}
.tableheaderor {
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #505050;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.navbar-heading {
	font-size: 0.8em;
	background-color: #FFFFFF;
	font-weight: bold;
	color: #000000;
}
.feintoutlined {
	border: 1px dotted #CCCCCC;
}
.newsHeader {
	font-size: 0.9em;
	background-color: #97A6CD;
	font-weight: bold;
}
.newsBody {
	font-size: 0.7em;
	background-color: #ACBBDA;
}
.invisibleBorder {
	border: thin dashed #EEEEEE;
}

.menutab {
	width:100%;
	background:white;
	border-collapse:collapse;
	border-bottom:4px #336699 solid;
	margin-top:0px;
	margin-bottom:0px;
}

.menutab td {
	padding:0 4px;
	white-space:nowrap;
}

.menutab .menu-noavail a,
.menutab td a {
	display:block;
	border:1px #336699 solid;
	padding:10 5px;
	border-bottom:none;
	font-size: 12px;
	color: #336699;
	background-color: #ffdd76;
	text-decoration: none;
}
.menutab .menu-headsel a {
	font-size: 12px;
	color: #336699;
	background-color: #F0A000;
	text-decoration: none;
}
.menutab .menu-noavail a:link,
.menutab .menu-noavail a:active,
.menutab .menu-noavail a:visited,
.menutab .menu-noavail a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #336699;
	background-color: #ffdd76;
	border:1px #336699 solid;
	border-bottom:none;
}
.menutab a:link,
.menutab .menu-headsel a:link {
	text-decoration: none;
	color: #336699;
	font-weight: bold;
}
.menutab a:active,
.menutab .menu-headsel a:active {
	text-decoration: none;
	color: #336699;
	font-weight: bold;
	background-color: #ffdd76;
}
.menutab a:visited,
.menutab .menu-headsel a:visited {
	text-decoration: none;
	color: #336699;
	font-weight: bold;
}
.menutab a:hover,
.menutab .menu-headsel a:hover {
	color : #ffdd76;
	background-color: #336699;
	font-weight: bold;
	border:1px #ffdd76 solid;
	border-bottom:none;
}
.menutab .menu-img a {
	border:0px;
	padding:7 5px;
	border-bottom:1px #ffdd76 solid;
}
.menutab .menu-img a:link,
.menutab .menu-img a:active,
.menutab .menu-img a:visited,
.menutab .menu-img a:hover {
	background-color: #ffdd76;
	font-weight: normal;
	border:0px;
	border-bottom:1px #ffdd76 solid;
}

.submenutab {
	border-collapse:collapse;
	border:0px;
	background-color: white;
	margin-top:0px;
	visibility:hidden;
	position:absolute;
}

.submenutab td {
	padding:0;
	white-space:nowrap;
	border:2px #ffdd76 solid;
	border-top:1px #ffdd76 solid;
	border-bottom:none;
}

.submenutab td a {
	display:block;
	border:none;
	padding:3 5px;
	font-size: 11px;
	background-color: #336699;
	color: white;
	text-decoration: none;
}

.submenutab a:link,
.submenutab a:active,
.submenutab a:visited {
	background-color: #336699;
	color: white;
	font-weight: bold;
}
.submenutab a:hover {
	background-color : white;
	color: #336699;
	font-weight: bold;
	text-decoration: underline;
}

#submenu2 {
left: 70%;
}

a.user:link {
	font-size: 1em;
	text-decoration: none;
	color: #336699;
	font-weight: bold;
}
a.user:active {
	font-size: 1em;
	text-decoration: none;
	color: #336699;
	font-weight: bold;
	background-color: #ffdd76;
}
a.user:visited {
	font-size: 1em;
	text-decoration: none;
	color: #336699;
	font-weight: bold;
}
a.user:hover {
	font-size: 1em;
	color : #DDDDDD;
	background-color: #336699;
	font-weight: bold;
}

#printbutton {
	position: absolute;
	top: 15px;
	right: 30px;
	z-index: 10;
}
#printbutton2 {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
}

.userDN {
	font-size: 12px;
	color: #336699;
	background-color: #FFFFFF;
	font-style: italic;
	font-weight: normal;
}
.userTitle {
	font-size: 14px;
	color: #336699;
	background-color: #FFFFFF;
	font-weight: bold;
}
.wrap {
width: 100%;
margin: 0 auto;
}
.sidebar {
float:left;
width: 15%;
min-width:100px;
/*position: fixed;*/
left:0;
margin-top: 120px;
}
.central{
/*padding-left: 200px;*/
padding-top: 20px;
width: 95%;
}

.central-report{
width: 95%;
left:2%;
/*padding-left: 200px;*/
position: relative;
padding-top: 120px;
}
.header {
position:fixed;
background-color: white;
width: 100%;
clear: both;
z-index: 255;
}
.footer {
position:fixed;
background-color: white;
width: 100%;
clear: both;
z-index: 255;
bottom:0;
left:0;
margin-bottom:-18px;
}

.padding {
margin-top:50px;
}
