@import url('/static/bootstrap-datepicker/dist/css/bootstrap-datepicker.css');
@import url('/static/bootstrap/dist/css/bootstrap.css');
/* Sticky footer styles
 * -------------------------------------------------- */

html,
body {
  height: 100%; 
  font-family: Roboto;
  /* The html and body elements cannot have any padding or margin. */
}

.dgrid-page-size {
text-color: white;
background: #333;

}


#ngis_menu {max-height: 400px; overflow: hidden; overflow-y: auto;}
#cloud_menu {max-height: 400px; overflow: hidden; overflow-y: auto;}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  //background-color: #0000aa;
}


/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrapper > .container {
  padding: 0px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
/*!
 *  * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 *   * Code licensed under the Apache License v2.0.
 *    * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 *     */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dgrid-cell {padding:0;};

/*#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 0;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    //background: #0000aa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}*/
.claro {
background-color: #ffffff;
font-family: "Roboto";

}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

/*#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}*/

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.btn-white {
 background-color: hsl(0, 0%, 85%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#118118118", endColorstr="#e5e5e5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#118118118), to(#e5e5e5));
  background-image: -moz-linear-gradient(top, #118118118, #e5e5e5);
  background-image: -ms-linear-gradient(top, #118118118, #e5e5e5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #118118118), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #118118118, #e5e5e5);
  background-image: -o-linear-gradient(top, #118118118, #e5e5e5);
  background-image: linear-gradient(#118118118, #e5e5e5);
  border-color: #e5e5e5 #e5e5e5 hsl(0, 0%, 85%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.dojoxLegendNode td {
padding: 0px; 0px; 0px; 0px;
}

/*.dijitTooltipContainer {
    border: solid black 2px;
    background: #b8b5b5;
    color: black;
    font: normal normal normal 8pt Oswald;
    font-size: small;
 }*/

.dojoxLegendNode {
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    margin: 0;
    padding: 0;
}

.panel-body {
font-size: 1.5em;
}

.dojoxLegendText {
    font: normal normal normal 10pt Oswald;
}
/* base CSS element */
.dijitTooltipContainer {
    font: normal normal normal 10pt Roboto;
        background: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        left: 15px;
        top: 5px;
        width: 200px;
}

/* arrows - :before and :after */
.dijitTooltipContainer:before {
        position: absolute;
        display: inline-block;
        border-top: 7px solid transparent;
        border-right: 7px solid #eee;
        border-bottom: 7px solid transparent;
        border-right-color: rgba(0, 0, 0, 0.2);
        left: -8px;
        top: 20px;
        content: '';
}

.dijitTooltipContainer:after {
        position: absolute;
        display: inline-block;
        border-top: 6px solid transparent;
        border-right: 6px solid #eee;
        border-bottom: 6px solid transparent;
        left: -6px;
        top: 21px;
        content: '';
}

.dgrid {
position:relative;
min-height: 180px;
height: auto;
overflow: auto;
width:99%;
}

.dgrid .dgrid-scroller {
    position: relative;
    overflow: visible;
}
 .dgrid-cell {
    width: 100px;
 }
.dgrid-column-set-scroller-container {
    position: relative;
    overflow: visible;
}



@media(min-width:768px) {
 /*   #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
}
