/* Note that dgrid.css is imported earlier for these styles to override */

.summary-row {
        font-weight: bold;
}

.dgrid {
        width: 100%;
        margin: 1em;
}

.dgrid-cell {
        min-width: 2em;
        text-align: right;
//        padding-right: 1em;
//        padding-left: 1em;
}


.field-id, .dgrid-column-set-0 {
        min-width: 2em;
        text-align: left;
}
.sage .dgrid-header th {
        text-transform: none;
        text-align: right;
        word-wrap: break-word;
        overflow-wrap: break-word;
}
.dgrid-header {
        right: 0px;
}
.dgrid-scrollbar-width {
       visibility: hidden;
}
.dgrid-column-set-0 {
        width: 170px;
}
/*.field-Total, .dgrid-column-set-1 {
        width: 74%;
}*/
.dgrid-column-set-2 {
        min-width: 21px;
}

.field-Total {
        min-width: 15px;
}
.field-Percent {
        min-width: 15px;
}
.dgrid-column-set-1 .field-name {
        /* When rendered within the column set, simply fit the column set */
        width: 100%;
}

