/* Put your CSS here */
.ember-application {
    margin: 20px;
}

#panelH {
  text-align:center;
  font-weight:bold;
  background-color:#E3F6CE;
}

#sitesH {
  text-align:center;
  font-weight:bold;
  background-color:#E3F6CE;
  margin-top:13px;
}

table#legend th {
	padding-left: 1mm;
	padding-right: 1mm;
	width: 3cm;
	text-align: center;
	padding-top:2px;
}

table#legend td {
	height: 3mm;
	overflow: hidden;
}

.metricCap{
	font-weight: bold;
}

table#metricNames {
  max-width: 40%;
  background-color: transparent;
  
}

table#metricNames th,td {
  text-align:center; 
  vertical-align: middle;
}


.NA {
    color: rgb(231, 231, 231);
}

.NA a{
    color: rgb(231, 231, 231);
}

.OK {
    color: rgb(0, 204, 0);
} 

.OK a{
color: rgb(0, 204, 0);
}	

.WARNING{
    color: rgb(255, 153, 0);
} 

.WARNING a{
    color: rgb(255, 153, 0);
} 	

.CRITICAL{
    color: rgb(255, 0, 0);
}

.CRITICAL a{
    color: rgb(255, 0, 0);
}	

.UNKNOWN{
    color: rgb(0, 204, 204);
} 

.UNKNOWN a{
color: rgb(0, 204, 204);
}	

.MISSING{
    color: rgb(0, 0, 204);
}

.MISSING a{
    color: rgb(0, 0, 204);
} 	

.MAINTENANCE{
    color: rgb(102, 51, 0);
}

.MAINTENANCE a{
    color: rgb(102, 51, 0);
}  	

.REMOVED{
    color: rgb(204, 204, 204);
}

.REMOVED a{
    color: rgb(204, 204, 204);
}  


/**
.L12.NA {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.L12.OK {
    background-color: rgb(0, 204, 0);
    color: rgb(0, 0, 0);
} 	

.L12.W{
    background-color: rgb(255, 153, 0);
} 	

.L12.C{
    background-color: rgb(255, 0, 0);
}	

.L12.U{
    background-color: rgb(0, 204, 204);
} 	

.L12.M{
    background-color: rgb(0, 0, 204);
} 	

.L12.MT{
    background-color: rgb(102, 51, 0);
} 	

.L12.RM{
    background-color: rgb(204, 204, 204);
} 

**/

a.aa {
    
    color: rgb(0, 0, 0);
}

/**

.M12.NA {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.M12.OK {
    background-color: rgb(0, 204, 0);
    color: rgb(0, 0, 0);
} 	

.M12.W{
    background-color: rgb(255, 153, 0);
} 	

.M12.C{
    background-color: rgb(255, 0, 0);
}	

.M12.U{
    background-color: rgb(0, 204, 204);
} 	

.M12.M{
    background-color: rgb(0, 0, 204);
} 	

.M12.MT{
    background-color: rgb(102, 51, 0);
} 	

.M12.RM{
    background-color: rgb(204, 204, 204);
} 

**/

.L12.NA {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.L12.OK {
    background-color: rgb(0, 204, 0);
    color: rgb(0, 0, 0);
}       

.L12.WARNING{
    background-color: rgb(255, 153, 0);
}       

.L12.CRITICAL{
    background-color: rgb(255, 0, 0);
}       

.L12.UNKNOWN{
    background-color: rgb(0, 204, 204);
}       

.L12.MISSING{
    background-color: rgb(0, 0, 204);
}       

.L12.MAINTENANCE{
    background-color: rgb(102, 51, 0);
}       

.L12.REMOVED{
    background-color: rgb(204, 204, 204);
}

.M12.NA {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.M12.OK {
    background-color: rgb(51, 255, 51);
    color: rgb(0, 0, 0);
}       

.M12.WARNING{
    background-color: rgb(255, 204, 102);
}       

.M12.CRITICAL{
    background-color: rgb(255, 102, 102);
}       

.M12.UNKNOWN{
    background-color: rgb(51, 205, 205);
}       

.M12.MISSING{
    background-color: rgb(51, 153, 255);
}       

.M12.MAINTENANCE{
    background-color: rgb(204, 153, 102);
}       

.M12.REMOVED{
    background-color: rgb(204, 204, 204);
} 



#logo{
    
    width:100%;
}

#box {
  height:20px;
    width:20px;
}

#box img{
width:20px;}



table#menuTable {
	text-align: center;
	border: 1px solid #aaaaaa;
	width: 100%;
}
img
{

}
td.menuTd {
	color: green;
	text-decoration: none;
}

th.menuTh {
	width: 25%;
}

td.formTdSite {
	vertical-align: top;
}
td.formTdType {
	vertical-align: top;
}
td.formTdName {
	vertical-align: top;
}
td.formTdTest {
	vertical-align: top;
}
td.formTd {

	vertical-align: top;
}

.metricTdO{
    text-align:center;
    border: 1px solid #aaaaaa;
}
.metricTdE{
    text-align:center;
    background-color: #EFDFD7;
}
.metricTh{
    border: 1px solid #000000;
    background-color: #AF9F9F;
}
.metricCap{
	font-weight: bold;
}
.metricTb{
border:1px solid black;
}

.heatMapLinkDataSelect{
    width: 200px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#wrong_metric_selection {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

#wrongInstanceSelection {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

a.log {
	font-weight: normal;
}

a.lrA a.log {
	text-decoration: none;
	color: black;
}

a.menuItem {
	text-decoration: none;
	font-weight: normal;
	padding-left: 2mm;
	padding-right: 2mm;
}

div.siteDiv {
	background-color: #F8ECE0;
	
}

table#latestResults,table#headers {
  border: 1px solid #585858;
  background-color: #EEEEEE;
  /*	border-collapse: collapse; */
  font-size: 8pt;
  table-layout: fixed;
  text-align: center;

}

table#formTable {

  }

.formTh {

  }


/*table#latestResults{
/*	margin-top: 50px;
/*}*/

table#headers {
	position: fixed;
}

table#headers thead tr th,table#latestResults tbody tr td {
	border-top: 1px solid black;
	border-left: 1px solid black;
}

th.ThOrange {
	background-color: #F5D0A9;
}
th.ThBlue {
	background-color: #CEE3F6;
}
th.ThGreen {
	background-color: #E3F6CE;
}
th.Flavours {
	background-color: #E3F6CE;
	width: 250px;
}
#instancesTh {
	width:250px;
}

td.tdSamName {
	text-align: center;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

.latestResultsTable{
    table-layout:fixed;
    border:0px solid black;
    word-wrap: break-word;
    empty-cells: hide;
    text-align: center;
    }
    
.latestResultsTable1{
    border:1px solid #000000;
    }    
    
    
.thLatestResults{
	background-color: #A0D3FF;
}
    


/*td.tdServiceTypeFirst {
	text-align: center;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

td.tdServiceType {
	text-align: center;
	border-left: 1px solid black;
}*/

td.tdServiceName {
	text-align: center;
}

td.tdTestType {
	width: 7mm;
	text-align: center;
}

table#legend th {
	padding-left: 1mm;
	padding-right: 1mm;
	width: 3cm;
}

table#legend td {
	height: 3mm;
}

select#testTypeSelect1 {
	z-index: 0;
}

select#testTypeSelect3 {
	z-index: 0;
}

div#latestResultsTable {
/*	position: absolute;
	top: 250pt; */
	bottom: 71pt;
	overflow: visible;
}

div#explanation { /* visibility: hidden;
	overflow: hidden;
	display: none;*/
	background-color: #EEEEEE;
/*	position: fixed;
	bottom: 5pt;*/
}

div#explText {
	visibility: hidden;
	overflow: hidden;
	display: none;
	position: fixed;
	bottom: 5pt;
}

td {
	overflow: hidden;
}

a.sortby {
	font-size: 9pt;
	color: black;
	text-decoration: none;
}

a.sortby:hover {
	background: yellow;
	border: 1px solid #eeeeee;
}

.sortby-caption {
	font-size: 9pt;
	font-weight: bold;
	color: black;
}

.sortby-background {
	background-color: white;
}

.sortby-capbackground {
	background-color: #aaaaaa;
}

#siteSelect3 {
	width: 250px;
}

#serviceTypeSelect3 {
	width: 150px;
}

#status1 {
	width: 150px;
}

#profileSelect {
	width: 650px;
}

#metricSelect {
	width: 400px;
}
#flavourSelect {
	width: 250px;
}

#groups_select {
	width: 250px;
}


.siteSelect {
	width: 250px;
}

.serviceSelect {
	width: 150px;
}

.testTypeSelect {
	width: 400px;
}

table#latestResults tbody tr td.tdServiceType,table#latestResults tbody tr 
{
  border-top: none;
}

div#latestResultsTable{
	left: 8px;
	right: 3px;
}
#flavour_select_loading1{
	background:url('/dashboard/templat/static/images/susam/loading.gif') no-repeat center;
}

#metric_select_loading1{
	background:url('/dashboard/templat/static/images/susam/loading.gif') no-repeat center;
}

/**

.L12.WARNING{
    background-color: rgb(231, 231, 231);
} 	

.L12.CRITICAL{
    background-color: rgb(231, 231, 231);
}	

.L12.UNKNOWN{
    background-color: rgb(231, 231, 231);
} 	

.L12.MISSING{
    background-color: rgb(231, 231, 231);
} 	

.L12.MAINTENANCE{
    background-color: rgb(231, 231, 231);
} 	

.L12.REMOVED{
    background-color: rgb(231, 231, 231);
} 

	

.M12.WARNING{
    background-color: rgb(231, 231, 231);
} 	

.M12.CRITICAL{
    background-color: rgb(231, 231, 231);
}	

.M12.UNKNOWN{
    background-color: rgb(231, 231, 231);
} 	

.M12.MISSING{
    background-color: rgb(231, 231, 231);
} 	

.M12.MAINTENANCE{
    background-color: rgb(231, 231, 231);
} 	

.M12.REMOVED{
    background-color: rgb(231, 231, 231);
} 

**/

#mygrey{
    border: 1px solid #D3D3D3;
    background: url('/static/images/ui-bg_glass_75_e6e6e6_1x400.png') repeat-x scroll 50% 50% #E6E6E6;
    font-weight: bold;
    color: #222;
    outline: medium none;
    text-align: center;
}

#greyDarker{
    background-color: #C7D1D6;
    color: #222;
    border: 1px solid #FFF;
    font-weight: bold;
}
