<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html"/>
<link href="/static/core/print.css" rel="stylesheet" media="print" type="text/css"/>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>  
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>  
<link rel="styleSheet" href="/static/dtree/dtree.css" type="text/css"/>
<link rel="stylesheet" href="/static/dijit/themes/claro/claro.css" type="text/css"/>
<link rel="stylesheet" href="/static/dojo/resources/dojo.css" type="text/css"/>
<link rel="stylesheet" href="/static/dgrid/css/dgrid.css" type="text/css"/>
<link rel="stylesheet" href="/static/dgrid/css/skins/sage.css" type="text/css"/>
<link rel="stylesheet" href="/static/localgrid.css"/>
<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"/>
<link rel="stylesheet" href="/static/dojox/charting/resources/Legend.css"/>
<link rel="stylesheet" href="/static/bstrap.css"/>
<link href="/static/core/stylesheet.css" rel="stylesheet" type="text/css"/>
<script src="/static/dojo/dojo.js" data-dojo-config="async: true, isDebug: true, parseOnLoad: false, packages: [
{ name: 'egi', location: '../', main: 'egi' },
{ name: 'jquery', location: '../jquery/dist', main: 'jquery' },
{ name: 'jquery-ui', location: '../jquery-ui', main: 'jquery-ui' },
{ name: 'bootstrap', location: '../bootstrap/dist/js', main: 'bootstrap' },
{ name: 'bootstrap-datepicker', location: '../bootstrap-datepicker/dist/js', main: 'bootstrap-datepicker' }]"></script>
<title>EGI Production Accounting</title>
</head>
<body class="claro">
<div class='wrap'>
<div class='sidebar'>
</div>
<div class='central'>

<!-- Wrap all page content here -->
<div id="wrapper" class="">
    <!-- Sidebar -->
    <!-- /#sidebar-wrapper -->
    <!-- Fixed navbar -->
    <div id="page-content-wrapper" class="">
        {% include "navbar.html" %}
        <div class="container">
            <div class="page-header">
                 <h4 class="" contenteditable="false" style="">{% block title %}{% endblock %}</h4>

            </div>
            <form id='main_form' class="form form-horizontal center-block" style="margin:auto">
                <div class="form-group">
                  <div class="col-xs-4">
                    <label for="inputMetric" class="control-label">Metric: </label>
                    <select id="inputMetric" data-toggle="tooltip" title="Metric used for the accounting" data-dojo-props="position:['above']" placeholder="Select Metric" class="form-control col-xs-2">
                    {% block inputMetric %}{% endblock %}
                    </select>
                  </div>
                  <div class="col-xs-3">
                    <label for="from_date" class="control-label">Start Time:</label>
                    <input type="text" class="form-control col-xs-2" id="from_date" placeholder="Select start date" contenteditable="false">
                  </div>
             
                  <div class="col-xs-3">
                    <label for="to_date" class="control-label">End Time:</label>
                    <input type="text" class="form-control col-xs-2" id="to_date" placeholder="Select end date" contenteditable="false">
                  </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                    <label for="inputX" class="control-label">X Dimension: </label>
                    <select id="inputX" data-toggle="tooltip" title="X Dimension of the table" placeholder="Select Dimension" class="form-control col-xs-3">
                    {% block XOptions %}{% endblock %}
                    </select>
                  </div>
                  <div class="col-xs-2">
                     <button id="interchange" data-toggle="tooltip" title="Interchange X and Y dimension" type="button" class="btn btn-default center-block" style = "margin-top: 26px" aria-label="Left Align">
                        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> 
                     </button>
                  </div>
                <div class="col-xs-4">
                    <label for="inputY" class="control-label">Y Dimension: </label>
                    <select id="inputY" data-toggle="tooltip" title="Y Dimension of the table" placeholder="Select Dimension" class="form-control col-xs-3">
                    {% block YOptions %}{% endblock %}
                    </select>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-2">
                     <button id="update" data-toggle="tooltip" title="Update" type="button" class="btn btn-default center-block" style = "margin-top: 26px" aria-label="Left Align">
                        <span class="">Update</span> 
<!--<h1>{{site}}</h1>-->
                     </button>
                  </div>
                  <div class="col-xs-4"></div>
              </div>
              <div class="form-group">              
      <div class="col-xs-6">            
{% if VOGroup %}
<div class="accordion" id="accordion2">
        <div class="accordion-group">
                <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <label>Advanced Options:</label>
                        </a>
                </div>

                <div id="collapseOne" style="display:none" class="accordion-body collapse in">
                        <div class="accordion-inner">
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="col-xs-3">
                    <label class="">VO Groupings: </label></div>
                  <div class="col-xs-9">
               <label class="radio-inline"><input class="" type="radio" value="lhc" checked="checked" name="VOGroup">LHC</label>
<label class="radio-inline"><input type="radio" class="" value="top10" name="VOGroup">TOP 10</label>
<label class="radio-inline"><input type="radio" class="" value="all" name="VOGroup">ALL</label>
                 <!--<label class="radio-inline"><input class="" type="radio" value="custom" name="VOGroup">Custom</label>--></div>
          </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-2">
          <label class="">Local Jobs: </label>
              </div>
                <div class="col-xs-10">
               <label class="radio-inline"><input class="" value="onlygridjobs" type="radio" checked="checked" name="localjobGroup">Grid Jobs Only</label>
<label class="radio-inline"><input type="radio" class="" value="localgridjobs" name="localjobGroup">Grid and Local Jobs</label>
                 <label class="radio-inline"><input class="" value="onlylocaljobs" type="radio" name="localjobGroup">Local Jobs Only</label></div>
                </div>
          </div>
                        </div>
      </div>
                </div>
       
        </div>
{% endif %}
</div>        
<br/>
              </form>
              </div>
<div id="loadingOverlay" style="height:200px;">
<div class="sage">
<div id="user_dn"></div>
<div id="granted_vos"></div>
<div id="granted_sites"></div>
<br></br>
<div id="acct_store"></div>
<div><h4 style="text-align:center;"><a id="json_data">Download JSON Data</a></h4></div>
</div>
    
<span id="info"></span>
<div class="claro">
   <div id="simplechart" class="claro" style="height:500px;"></div>
   <br/>
   <div id="legend" class="claro" style="height:500px;"></div>
   <br/>
   <div id="chart_pie1" class="claro" style="height:500px;"></div>
   <br/>
   <div id="chart_pie2" class="claro" style="height:500px;"></div>
</div>
</div></div>

<div id='overlay' daja-doto-id="overlay" data-dojo-type="dojox.widget.Standby" data-dojo-props="target:'loadingOverlay', color:'white', image:'/static/core/images/ajax-loader.gif'">
</div>

<script>
define.amd.jQuery = true;
require(["jquery"], function ($) {
require(["jquery-ui", "bootstrap", "bootstrap-datepicker", "dojo/_base/declare", "dojox/charting/axis2d/Default", "dojox/charting/plot2d/Pie", "dgrid/OnDemandGrid" , "dgrid/ColumnSet", "dgrid/SummaryRow", "dstore/RequestMemory" , "dstore/Filter", "dojo/date/locale", "dojox/charting/Chart", "dojox/charting/themes/PlotKit/blue", "dojox/charting/themes/Claro", "dojox/charting/plot2d/Markers", "dojox/charting/widget/Legend", "dojox/charting/action2d/MouseZoomAndPan", "dojox/charting/action2d/Tooltip", "dojox/charting/action2d/Magnify", "dojox/charting/action2d/Highlight", "dojox/charting/action2d/MoveSlice" , "dojo/dom", "dojo/dom-construct", "dojo/parser", "dijit", "dijit/registry", "dojo/promise/all", "dojox/widget/Standby", "dojo/when", "dojo/on", "dojo/domReady!"],
  function(jqueryui, bootstrap, datepicker, declare, Def, Pie, Grid, ColumnSet, SummaryRow, Store, Filter, locale, Chart, blue, claro, Markers, Legend, MouseZoomAndPan, Tooltip, Magnify, Highlight, MoveSlice, dom, domConstruct, parser, dijit, registry, all, standby, when, on, domReady){

option={% block option %}{% endblock %};
tree={% block tree %}{% endblock %};
$('#disciplines_menu').load('https://accounting-devel-support.egi.cesga.es/discipline_tree.php');
$('#ngis_menu').load('https://accounting-devel-support.egi.cesga.es/ngi_tree.php');
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
$('#collapseOne').css('display','');
$('#collapseOne').collapse({
active: false,
collapsible: true
});
$("#inputMetric").on('mouseleave', function(e) {
    $('#inputMetric').popover('destroy');
});

$("#inputMetric").on('mouseover', function(e) {
    var $e = $(e.target); 
    if ($e.is('option')) {
        $('#inputMetric').popover('destroy');
        $("#inputMetric").popover({
            trigger: 'manual',
            placement: 'down',
            title: $e.attr("data-title"),
            content: $e.attr("data-content")
        }).popover('show');
    }
});
var startDate = new Date('01/01/2004');
var FromEndDate = new Date();
var ToEndDate = new Date();

ToEndDate.setDate(ToEndDate.getDate()+365);

$('#from_date').datepicker({
    
    startView: "years",
  minViewMode: "months",
    format: 'MM yyyy',
    startDate: startDate,
    endDate: FromEndDate, 
    autoclose: true
})
    .on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('.to_date').datepicker('setStartDate', startDate);
    }); 
$('#to_date')
    .datepicker({
        viewMode: 'years',
        minViewMode: "months",
        format: 'MM yyyy',
        startDate: startDate,
        endDate: FromEndDate,
        autoclose: true
    })
    .on('changeDate', function(selected){
        FromEndDate = new Date(selected.date.valueOf());
        FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
        $('.from_date').datepicker('setEndDate', FromEndDate);
    });

pastyear = new Date(new Date().setYear(new Date().getFullYear() - 1));
$('#from_date').datepicker("update", new Date(pastyear.getFullYear(), pastyear.getMonth()));
$('#to_date').datepicker("update", new Date(new Date().getFullYear(), new Date().getMonth()));
{% if sMonth and sYear %}
$('#from_date').datepicker("update", new Date({{sYear}}, {{sMonth}}-1));
{% endif %}
{% if eMonth and eYear %}
$('#to_date').datepicker("update", new Date({{eYear}}, {{eMonth}}-1));
{% endif %}
{% if query %}
$('#inputMetric').val('{{query}}');
{% endif %}
{% if xRange and yRange %}
   $('#inputX').val('{{xRange}}');
   $('#inputY').val('{{yRange}}');
{% endif %}
{% if VOGroup %}
$('input:radio[name=VOGroup]').val(['{{VOGroup}}']);
{% endif %}
{% if localJobGroup %}
//$('input:radio[name=localjobGroup]').val(['{{localJobGroup}}']);
{% endif %}
claro.chart.fill = "white";
claro.chart.stroke = {color:"transparent"};
claro.plotarea.fill = "white";
$('#update').on('click', function(event){update();});
$('#interchange').on('click', function(event){
   var xrange = $('#inputX').val();
   var yrange = $('#inputY').val();
   $('#inputX').val(yrange);
   $('#inputY').val(xrange);
});
{% if discipline %}
$.getJSON("https://accounting-devel-support.egi.cesga.es/discipline_data.php?discipline={{discipline}}", function (json) {
$("#firstlevel").replaceWith('<li><a href="/discipline/" class="">VO Discipline</a></li>');
$("#secondlevel").replaceWith('<li><a href="/discipline/'+json.parent+'/" class="">'+json.parent+'</a></li>');
$("#thirdlevel").replaceWith('<li><a href="/discipline/{{discipline}}/" class="">{{discipline}}</a></li>');
});
{% endif %}
parser.parse();
overlay = registry.byId("overlay"); 
overlay.show();
render(getDataURL(option, tree));
dgrid_table = dom.byId("acct_store"); 
on(dgrid_table,'dgrid-refresh-complete', function(update) {overlay.hide();});
on(dgrid_table,'dgrid-error', function(update) {overlay.hide();});
   
  function update() { 
     overlay.show(); 
     destroyComponents();
     data_url = getDataURL(option, tree);
     render(data_url);
  }

function error_handler (message) {
   overlay.hide();
   domConstruct.empty("acct_store");
   domConstruct.place('<div id="acct_store"><br></br><h2 style="text-align: center;"><b>'+message+'</b></h2></div>',"acct_store","only");
}

  function getDataURL(option, tree) {
        var query = $('#inputMetric').val();
        var from_date = $('#from_date').datepicker("getDate");
        var to_date = $('#to_date').datepicker("getDate");
        var yrange = $('#inputX').val();
        var xrange = $('#inputY').val();
        var sYear = from_date.getFullYear();
        var sMonth = from_date.getMonth();
        var eYear = to_date.getFullYear();
        var eMonth = to_date.getMonth();
        var VOGroup = $('input:radio[name=VOGroup]:checked').val();
        var localjobGroup = $('input:radio[name=localjobGroup]:checked').val();
        if (yrange == "COUNTRY" || xrange == "COUNTRY") option="COUNTRY"; 
        return {% block remote_url %}{% endblock %};
  }

  function destroyComponents() {

     //We destroy all the previous dynamic components
     domConstruct.empty("acct_store");
     domConstruct.empty("simplechart");
     var legend = dijit.byId('legend');
     if (legend) {legend.destroy(true);};
     domConstruct.empty("legend");
     domConstruct.empty("info");
     domConstruct.empty("chart_pie1");
     domConstruct.empty("chart_pie2");
  }
     //Helpers
     imtitulo =  {'njobs' : 'Total number of jobs', 'normcpu' : 'Normalised CPU time (kSI2K)', 'normcpu-HEPSPEC06' : 'Normalised CPU time (HEPSPEC06)', 'sumcpu' : 'Total CPU time used', 'sumelap' : 'Total elapsed time', 'normelap' : 'Normalised Elapsed time (kSI2K)', 'normelap-HEPSPEC06' : 'Normalised Elapsed time (HEPSPEC06)', 'sumelcpu' : 'Total Elapsed-CPU', 'cpueff' : 'CPU Efficiency (%)', 'vm_num' : 'Total number of VM run', 'sum_elap' : 'Sum Elapsed time (hours)', 'sum_cpu' : 'Sum CPU time (hours)', 'net_in' : 'Inbound Network Traffic', 'net_out' : 'Outbound Network Traffic', 'disk' : 'Disk Used', 'cost' : 'Monetary Cost', 'mem' : 'Memory Used'};
     imrange = {'DISCIPLINE_3' : 'VO Discipline Level 3', 'DISCIPLINE_2' : 'VO Discipline Level 2', 'DISCIPLINE': 'VO Discipline', 'DATE': 'Date', 'Country': 'Country', 'VO': 'VO', 'REGION': 'Region', 'NGI': 'NGI', 'Country': 'Country', 'SITE': 'Site','vm_id' : 'VM Identifier'};
     addCommas = function(nStr) { 
                     nStr += ''; x = nStr.split('.'); 
                     x1 = x[0]; x2 = x.length > 1 ? '.' + x[1] : ''; 
                     var rgx = /(\d+)(\d{3})/; 
                     while (rgx.test(x1)) x1 = x1.replace(rgx, '$1' + ',' + '$2'); 
                     return x1 + x2; 
                     };
     boldcommas = function(data) { return '<b>' + addCommas(data) + '</b>' };
     bold = function(data) { return '<b>' + data + '</b>' };
     fcomas = function(data) { return addCommas(data); };
     todate = function(object){ return locale.format(new Date(object.id), {selector: 'date', locale: 'en', datePattern: 'MMM yyyy'}); };
     strtodate = function(str){ return locale.format(new Date(str), {selector: 'date', locale: 'en', datePattern: 'MMM yyyy'}); };
     labeldate = function(str){ return locale.format(new Date(str), {selector: 'date', locale: 'en', datePattern: 'MMMM yyyy'}); };
     {% block display_funcs %}{% endblock %}
     vmidlabel = function(str){ if (str.toString().indexOf("appdb") >= 0) 
                                   return '<b><a style="text-decoration:none" href="' + str + '">' + str + '</a></b>'; 
                                else return str;};

  function render(data_url) { 
     $('#json_data').attr("href",data_url);
     //Store
     var store = new Store({target: data_url});

     //Table
     promise = all({xlegend: store.get('xlegend'), ylegend: store.get('ylegend'), var: store.get('var')});
     promise.then(function(response){
        if (typeof response['var'] == 'undefined') error_handler("No accounting data for these options."); 
        else {
        var index;
        var yrange = response['var']['yrange']; 
        var xrange = response['var']['xrange']; 
        var query_name = response['var']['query']; 
        var ylegend = response['ylegend']
        var xlegend = response['xlegend']
        if (user_dn = response['var']['user_dn']) $("#user_dn").replaceWith('<div id="user_dn">Logged in as <i>'+user_dn+'</i></div>');
        if (granted_sites = response['var']['granted_sites']) $("#granted_sites").replaceWith('<div id="granted_sites">Site Manager of <i>'+granted_sites.join(', ')+'</i></div>');
        if (granted_vos = response['var']['granted_vos']) $("#granted_vos").replaceWith('<div id="granted_vos">VO Manager of <i>'+granted_vos.join(', ')+'</i></div>');
        var field_list = "";
        ylength = Object.keys(ylegend).length-2;
        xlength = Object.keys(xlegend).length-2;

        if (yrange == 'DATE') {field_id = '{field:"id",label:"Date", get: todate, formatter: bold}';}
        else if (yrange == 'DISCIPLINE' || yrange == 'DISCIPLINE_2' || yrange == 'DISCIPLINE_3') { field_id = '{field:"id",label:"'+imrange[yrange]+'", formatter: vodislabel}';}
        else if (yrange == 'SITE') { field_id = '{field:"id",label:"'+imrange[yrange]+'", formatter: sitelabel}';}
        else if (yrange == 'REGION') { field_id = '{field:"id",label:"'+imrange[yrange]+'", formatter: ngilabel}';}
        else if (yrange == 'COUNTRY') { field_id = '{field:"id",label:"'+imrange[yrange]+'", formatter: countrylabel}';}
        else if (yrange == 'vm_id') { field_id = '{field:"id",label:"'+imrange[yrange]+'", formatter: vmidlabel}';}
        else field_id = '{field:"id",label:"'+imrange[yrange]+'", formatter: bold}';

        for (index = 0; index < ylength; index++) {
           y = ylegend[index];
           if (xrange == 'DATE') { label = labeldate(y); } 
           else { label = y; };
           field_list += '{field:"' + y + '", label:"' + label + '", formatter: addCommas}'; 
           if (index + 1 < ylength) field_list += ', ';
        } 
        var layout = eval ('[[['+field_id+']],[['+field_list+']],[[ {field:"Total",label:"Total", formatter: boldcommas}, {field:"Percent",label:"Percent", formatter: bold} ]]]');
        var filter = new store.Filter();
        var wo_totals = filter.ne('id','Total');
        var wo_percent = filter.ne('id','Percent');
        var wo_xlegend = filter.ne('id','xlegend');
        var wo_ylegend = filter.ne('id','ylegend');
        var wo_var = filter.ne('id','var');
        var w_totals = filter.eq('id','Total');
        var store_wo_totals = store.filter(wo_totals).filter(wo_percent).filter(wo_xlegend).filter(wo_ylegend).filter(wo_var);
        var store_totals = store.filter(w_totals);
        var ComplexGrid = declare(([Grid, ColumnSet, SummaryRow]));
        grid = new ComplexGrid({collection: store_wo_totals, className: "dgrid-autoheight", columnSets: layout}, 'acct_store');
        all({total: store.get('Total'), percent: store.get('Percent')}).then (function (response){
           grid.set('summary', response['total'], response['percent']);
           grid.startup();
        })

        // Line chart
        $('#info').append("<p>The information in the previous table is also shown in the following graph.</p>");
        chart1 = new Chart("simplechart", {width:800, height:400, enableCache: true, titleFont: "normal normal normal 15pt Oswald", title: imtitulo[query_name] + ' by ' + imrange[yrange] + ' and ' + imrange[xrange], titlepos: "top"});
        chart1.addPlot("default", {type: Markers}); 
        var labels = [];
        for (index = 0; index < ylength; index++) 
           if (xrange == 'DATE') labels.push({value: (index+1), text: labeldate(ylegend[index])});
           else labels.push({value: (index+1), text: ylegend[index]});
        chart1.addAxis("x", {titleFont: "normal normal bold 30pt Oswald", font: "normal normal normal 10pt Oswald", vertical:false, minorTicks: false, majorTickStep:1, includeZero:false, rotation: 40, labels: labels});
        chart1.addAxis("y", {min:0, vertical: true,titleFont: "normal normal normal 15pt Oswald", font: "normal normal normal 10pt Oswald",  title: imtitulo[query_name]});
        store_wo_totals.forEach(function(entry) {
           values = [];

           for (var key in entry)
              if (key != 'Percent' && key != 'Total' && key != 'id') {
                 value = entry[key];
                 values.push({y: value, tooltip: '<p><b>'+ entry.id + '</b> &mdash; <b>' + key + '</b><br/> '+ addCommas(value) +'</p>'});
              }
           chart1.addSeries(entry.id, values, {stroke: {width: "2.0"}} );
        }).then(function(){
           new MouseZoomAndPan(chart1, "default", {axis: "x"});
           chart1.setTheme(claro);
           new Tooltip(chart1, "default");
           new Magnify(chart1, "default", {duration: 60, scale: 3});
           chart1.render();
           if (xlength < 50) {
           var legend = new Legend({chart: chart1, outline: false, horizontal: 12}, "legend");
           }
        })

        // Pie charts 
        blue.chart.fill = "white";
        blue.chart.stroke = {color:"transparent"};
        blue.plotarea.fill = "white";
        store_totals.get('Total').then(function(entry){
           var pie1_values = [];
           other = 0;
           grand_total = entry['Total'];
           for (var key in entry) {
              if (key != 'Percent' && key != 'Total' && key != 'id') {
                 value = entry[key];
                 if (value * 50 < grand_total) 
                    other += value; 
                  else {
                    if (xrange == 'DATE') key_text = labeldate(key); else key_text = key;
                    len = key_text.length;
                    max_width = 25;
                    if (len > max_width) {
                       var i = 0; 
                       var new_key_text = "";
                       while (i*max_width < len) {
                          new_key_text += key_text.substring(max_width*i,Math.min(max_width*(i+1), len))+'<br/>'
                          i++;
                       }
                       key_text = new_key_text; 
                    }
                    pie1_values.push({y: value, width: "1.0", 
                                     text: key_text + ' (' + (value * 100/grand_total).toFixed(2) + '%)', 
                                     tooltip: '<b>' + key_text + '</b><br/> '+ addCommas(value)});
                     }
                 } 
           }
           if (other) pie1_values.push({y: other, 
                                        width: "1.0", text: 'Other (' + (other*100/grand_total).toFixed(2) + '%)', 
                                        tooltip: '<b>Other</b><br/> '+ addCommas(other)});
           chart_pie1 = new Chart("chart_pie1", {width:800, height:400, enableCache: true,titleFont: "normal normal normal 15pt Oswald", title: imtitulo[query_name] + ' by ' + imrange[xrange], titlepos: "top"});
           chart_pie1.setTheme(blue);
           var labels = [];
           chart_pie1.addSeries(entry.id, pie1_values);
           chart_pie1.addPlot("default", {type: Pie, font: "normal normal 9pt Oswald", radius: 160, labelWiring: "cccc", labelOffset:30, labelStyle: "columns", omitLabels: true}); 
           var anim_a = new MoveSlice(chart_pie1, "default");
           var anim_b = new Highlight(chart_pie1, "default");
           var anim_c = new Tooltip(chart_pie1, "default");
           chart_pie1.render();
        });
        var pie2_values = [];
        other = 0;
        store_wo_totals.forEach(function(entry) { 
                 value = entry['Total'];
                 if (value * 50 < grand_total) 
                    other += value; 
                  else {
                    if (yrange == 'DATE') key_text = labeldate(entry.id); else key_text = entry.id;
                    len = key_text.length;
                    max_width = 25;
                    if (len > max_width) {
                       var i = 0; 
                       var new_key_text = "";
                       while (i*max_width < len) {
                          new_key_text += key_text.substring(max_width*i,Math.min(max_width*(i+1), len))+'<br/>'
                          i++;
                       }
                       key_text = new_key_text; 
                    }
                    pie2_values.push({y: value, width: "1.0", 
                                     text: key_text + ' (' + (value * 100/grand_total).toFixed(2) + '%)', 
                                     tooltip: '<b>' + key_text + '</b><br/> '+ addCommas(value)});
                     }
        }).then(function(){
           if (other) pie2_values.push({y: other, 
                                        width: "1.0", text: 'Other (' + (other*100/grand_total).toFixed(2) + '%)', 
                                        tooltip: '<b>Other</b><br/> '+ addCommas(other)});
           chart_pie2 = new Chart("chart_pie2", {width:800, height:400, enableCache: true,titleFont: "normal normal normal 15pt Oswald", title: imtitulo[query_name] + ' by ' + imrange[yrange], titlepos: "top"});
           chart_pie2.setTheme(blue);
           var labels = [];
           chart_pie2.addSeries('y', pie2_values);
           chart_pie2.addPlot("default", {type: Pie, font: "normal normal 9pt Oswald", radius: 160, labelWiring: "cccc", labelOffset:30, labelStyle: "columns", omitLabels: true}); 
           var anim_a2 = new MoveSlice(chart_pie2, "default");
           var anim_b2 = new Highlight(chart_pie2, "default");
           var anim_c2 = new Tooltip(chart_pie2, "default");
           chart_pie2.render();
        });
     }})
  }})});
</script>
</body>
</html>
