<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" />
  <link href="/static/core/print.css" rel="stylesheet" media="print" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>  
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>  
  <link rel="styleSheet" href="/static/dtree/dtree.css" type="text/css" />
<link rel="stylesheet" href="/static/dijit/themes/claro/claro.css" type="text/css"/>
  <link rel="stylesheet" href="/static/dojo/resources/dojo.css" type="text/css"/>
  <link rel="stylesheet" href="/static/dgrid/css/dgrid.css" type="text/css" />
  <link rel="stylesheet" href="/static/dgrid/css/skins/sage.css" type="text/css" />
  <link rel="stylesheet" href="/static/localgrid.css" type="text/css" />
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/static/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" type="text/css" />
  <link rel="stylesheet" href="/static/dojox/charting/resources/Legend.css" type="text/css" />
  <link rel="stylesheet" href="/static/bstrap.css" type="text/css" />
  <link href="/static/core/stylesheet.css" rel="stylesheet" type="text/css" />

  <title>EGI Production Accounting</title>
</head>

<body class="claro">
<div id="whatisegidiv" class="text-center" style="margin:0 auto;left:45%">
      <label style="font-size: 200%;" >What is EGI?</label>
      <a class="whatisegi btn btn-default" style="font-size: 200%; margin-top: -0.5em; border: 0; " data-placement="bottom" data-toggle="popover" title="Description" data-content=""><i class="glyphicon glyphicon-question-sign"></i></a>
   </div>
  <script src="/static/dojo/dojo.js" data-dojo-config="async: true, isDebug: true, parseOnLoad: false, packages: [ { name: 'egi', location: '../', main: 'egi' }, { name: 'jquery', location: '../jquery/dist', main: 'jquery' }, { name: 'jquery-ui', location: '../jquery-ui', main: 'jquery-ui' }, { name: 'bootstrap', location: '../bootstrap/dist/js', main: 'bootstrap' }, { name: 'bootstrap-datepicker', location: '../bootstrap-datepicker/dist/js', main: 'bootstrap-datepicker' }]"
  type="text/javascript">
</script>

  <div class='wrap'>
    <div class='sidebar'></div>

 <!--   <div class='central'>-->
      <!-- Wrap all page content here -->

      <div id="wrapper" class="">
        <!-- Sidebar -->
        <!-- /#sidebar-wrapper -->
        <!-- Fixed navbar -->

        {% include "navbar.html" %}
        <div id="page-content-wrapper" class="container">
</div>
<div class="egi-logo" style="float: right; margin-top: -20px;">
<img src="/static/AcctPortal_egi_ack.png" style="" width="600" height="64" border="0" usemap="#map" />
<map name="map">
<area shape="rect" coords="309,32,432,49" href="http://go.egi.eu/eng" />
</map>
</div>
 </div>

<div id="whatisegicontent" style="display:none">
<a style="color:#FFDF00" href="http://www.egi.eu"><b>EGI</b></a> is the European infrastructure for advanced computing offering distributed Compute, Storage and Data for researchers and international research collaborations. The EGI Federation comprises hundreds of data centres in Europe and other regions of the world. 

The EGI Accounting Portal provides the accounting data for Compute, Storage and Data services gathered from the data centres of the EGI Federation. Users can create custom reports organising this information in several ways, selecting services, resource centres, user groups and defining a time period. Accounting data gathered by peer infrastructures, such as Open Science Grid (OSG), can be included in such reports.
</div>
<!--          <div class="container">
            <div class="page-header">
              <h4 class="" contenteditable="false" style="">{% block title %}{% endblock %}</h4>
            </div>

          </div>-->
            <div>
          <div id="loadingOverlay" style="width:100%;height:600px; padding: 0em 1em;">
            <form id='figure_form' class="pull-left">
                <div class="form-group">
                <div style="width: 30em;" class="input-group">
                    <select id="metric" data-toggle="tooltip" title="Metric used for the accounting" data-dojo-props="position:['above']" placeholder="Select Metric" class="form-control col-xs-2">
                       <option class='' data-title='Normalized CPU Hours'  data-dojo-props='position:['above']' data-content='Hours of CPU time consumed in calculations by jobs, normalised using the <a href="http://w3.hepix.org/benchmarks/doku.php">HEPSPEC06 benchmark</a>.' value='normcpu_HEPSPEC06'>Normalized Sum CPU HEPSPEC06 hours</option> 
                       <option class='' data-toggle='tooltip' data-title='Number of jobs'  data-dojo-props='position:['above']' data-content='Total number of jobs' value='njobs'>Number of jobs</option>
                       <option data-toggle='tooltip' data-title='Unnormalized CPU Hours' data-dojo-props='position:['above']' data-content='Hours of not normalised CPU time consumed by jobs.' class='' value='sumcpu'>Unnormalized CPU Hours</option> 
                    <!--   <option data-toggle='tooltip' data-title='Normalized Sum Elapsed HEPSPEC06 hours' data-dojo-props='position:['above']' data-content='Hours of wall-clock time consumed by jobs, including I/O, OS and other housekeeping tasks, normalised using the <a href="http://w3.hepix.org/benchmarks/doku.php">HEPSPEC06 benchmark</a>.' class='' value='normelap_HEPSPEC06'>Normalized Sum Elapsed HEPSPEC06 hours</option> 
                       <option data-toggle='tooltip' data-title='Unnormalized Sum Elapsed Hours' data-dojo-props='position:['above']' data-content='Hours of not normalised wall-clock time consumed by jobs, including I/O, OS and other housekeeping tasks.' class='' value='sum_elap'>Unnormalized Sum Elapsed Hours</option> -->
                    </select>
                    <span class="input-group-btn"><a id="metric_help" class="btn btn-default" data-toggle="popover" title="Metric Description"><i class="glyphicon glyphicon-question-sign"></i></a></span>
                   </div>
                  <div class="btn-group" data-toggle="buttons">
                     <label class="btn btn-primary">
                        <input type="radio" name="period" id="1m" value="1m" autocomplete="off"> 1 Month</input>
                     </label>
                     <label class="btn btn-primary">
                        <input type="radio" name="period" id="3m" value="3m" autocomplete="off"> 3 Months</input>
                     </label>
                     <label class="btn btn-primary active">
                        <input type="radio" name="period" id="6m" value="6m" autocomplete="off" checked> 6 Months</input>
                     </label> 
                     <label class="btn btn-primary">
                        <input type="radio" name="period" id="1y" value="1y" autocomplete="off"> Years</input>
                     </label>
                  </div>
              </form>
            </div>


<div style="clear:both"></div>

            <div>
<div style="font-size: larger">This graph shows the <span id="metric_description"></span> in the whole EGI infrastructure. Only non-local jobs on official EGI VOs are accounted. Each point represents a period of <span id="month_period"></span> counting backwards from the last complete period.</div>
              <div id="simplechart" class="pull-left" style="width:80%; height:600px;"></div>
              <div id="metrics" class="text-center pull-left" style=" height:600px;font-size:1em;font:Oswald;width:20%">
                 <div class="panel panel-default" style="">
                    <div id="ncpu-header" class="panel-heading">Normalized CPU (HEPSPEC06 hours)</div>
                    <div id="ncpu-panel" style="margin-top: -10px" class="panel-body">-----</div>
                 </div>
                 <div class="panel panel-default" style="">
                    <div id="njobs-header" class="panel-heading">Number of jobs</div>
                    <div id="njobs-panel" style="margin-top: -10px" class="panel-body">-----</div>
                 </div>
          <!--       <div class="panel panel-default" style="">
                    <div id="nwall-header" class="panel-heading">Normalized Wall (HEPSPEC06 hours)</div>
                    <div id="nwall-panel" style="margin-top: -10px" class="panel-body">-----</div>
                 </div>-->
                 <div class="panel panel-default" style="">
                    <div id="ucpu-header" class="panel-heading">Unnormalized CPU (Raw hours)</div>
                    <div id="ucpu-panel" style="margin-top: -10px" class="panel-body">-----</div>
                 </div>
           <!--      <div class="panel panel-default" style="">
                    <div id="uwall-header" class="panel-heading">Unnormalized Wall (Raw hours)</div>
                    <div id="uwall-panel" style="margin-top: -10px" class="panel-body">-----</div>
                 </div>-->
              </div>
              </div>
            </div>
          </div>
        </div>

        <div id='overlay' daja-doto-id="overlay" data-dojo-type="dojox.widget.Standby" data-dojo-props="target:'loadingOverlay', color:'white', image:'/static/core/images/ajax-loader.gif'"></div><script type="text/javascript">
//<![CDATA[
        define.amd.jQuery = true;
        require(["jquery"], function ($) {
        require(["jquery-ui", "bootstrap", "bootstrap-datepicker", "dojo/_base/declare", "dojox/charting/themes/Claro", "dojox/charting/axis2d/Default", "dstore/RequestMemory" , "dojo/date/locale", "dojox/charting/Chart", "dojox/charting/themes/PlotKit/blue", "dojox/charting/plot2d/Markers", "dojox/charting/action2d/MouseZoomAndPan", "dojox/charting/action2d/Tooltip", "dojox/charting/action2d/Magnify", "dojox/charting/action2d/Highlight", "dojox/charting/action2d/MoveSlice" , "dojo/dom", "dojo/dom-construct", "dojo/parser", "dijit", "dijit/registry", "dojox/widget/Standby", "dojo/on", "dojo/domReady!"],
        function(jqueryui, bootstrap, datepicker, declare, claro, Def, Store, locale, Chart, blue, Markers, MouseZoomAndPan, Tooltip, Magnify, Highlight, MoveSlice, dom, domConstruct, parser, dijit, registry, standby, on, domReady){

        store = null;
        var imtitulo =  {'njobs' : 'Total number of jobs', 'normcpu' : 'Normalized Sum CPU HEPSPEC06 hours', 'normcpu_Raw' : 'Normalized CPU Hours', 'sumcpu' : 'Unnormalized CPU Hours', 'sumelap' : 'Unnormalized Sum Elapsed Hours', 'normelap' : 'Normalized Sum Elapsed HEPSPEC06 hours', 'normelap_Raw' : 'Normalized Sum Elapsed HEPSPEC06 hours', 'sumelcpu' : 'Sum Elapsed hours', 'cpueff' : 'CPU Efficiency (%)', 'vm_num' : 'Total number of VM run', 'sum_elap' : 'Unnormalized Sum Elapsed Hours', 'sum_cpu' : 'Unnormalized CPU Hours<', 'net_in' : 'Inbound Network Traffic (b)', 'net_out' : 'Outbound Network Traffic (b)', 'disk' : 'Disk Used (b)','normcpu_HEPSPEC06': 'Normalized Sum CPU HEPSPEC06 hours','normelap_HEPSPEC06': 'Normalized Sum Elapsed HEPSPEC06 hours'};
        $('#disciplines_menu').load('{{SUPPORT_SERVER}}discipline_tree.php');
        $('#ngis_menu').load('{{SUPPORT_SERVER}}ngi_tree.php');
        $('#cloud_menu').load('{{SUPPORT_SERVER}}cloud_tree.php');
        addCommas = function(nStr) { 
                     nStr += ''; x = nStr.split('.'); 
                     x1 = x[0]; x2 = x.length > 1 ? '.' + x[1] : ''; 
                     var rgx = /(\d+)(\d{3})/; 
                     while (rgx.test(x1)) x1 = x1.replace(rgx, '$1' + ',' + '$2'); 
                     return x1 + x2; 
                     };
        boldcommas = function(data) { return '<b>' + addCommas(data) + '<\/b>' };
        bold = function(data) { return '<b>' + data + '<\/b>' };
        fcomas = function(data) { return addCommas(data); };
        todate = function(object){ return locale.format(new Date(object.date), {selector: 'date', locale: 'en', datePattern: 'yyyy-MMM-dd'}); };
        strtodate = function(str){ return locale.format(new Date(str), {selector: 'date', locale: 'en', datePattern: 'MMM-yyyy'}); };
        labeldate = function(str){ return locale.format(new Date(str), {selector: 'date', locale: 'en', datePattern: 'MMMM yyyy'}); };
        lfunc = function(text,value,precision){ return addCommas(value); };

        $('.whatisegi').popover({html: true,
        content: function() {
        return $('#whatisegicontent').html();
        } }); 
$('[data-toggle="popover"]').popover();
$('body').on('click', function (e) {
    $('[data-toggle=popover]').each(function () {
        // hide any open popovers when the anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
//Destroy popovers when another one is shown
$('body').popover({
                selector: '[rel=popover]',
                trigger: "click"
            }).on("show.bs.popover", function(e){
                // hide all other popovers
                $("[rel=popover]").not(e.target).popover("destroy");
                $(".popover").remove();                    
            });

function metric_help_set() {
   content= $( "#inputMetric option:selected" ).attr('data-content');
   $('#metric_help').attr("data-content",content); 
   $('#metric_help').data('bs.popover').options.content = content;
   $('#metric_help').data('bs.popover').tip().find('.popover-content').html(content); 
}

        var last_period = "-1";
        $('#collapseOne').css('display','');
        $('#collapseOne').collapse({
        active: false,
        collapsible: true
        });

function metric_help_set() {
   content= $( "#metric option:selected" ).attr('data-content');
   $('#metric_help').attr("data-content",content); 
   $('#metric_help').data('bs.popover').options.content = content;
   $('#metric_help').data('bs.popover').tip().find('.popover-content').html(content); 
}
$('#metric').change(metric_help_set);
metric_help_set();
        $("#inputMetric").on('mouseleave', function(e) {
        $('#inputMetric').popover('destroy');
        });

        $('input[name="period"]').change( function() {update();});
        $('#metric').change( function() {update();});

        $("#inputMetric").on('mouseover', function(e) {
        var $e = $(e.target); 
        if ($e.is('option')) {
        $('#inputMetric').popover('destroy');
        $("#inputMetric").popover({
            trigger: 'manual',
            placement: 'down',
            title: $e.attr("data-title"),
            content: $e.attr("data-content")
        }).popover('show');
        }
        });
        parser.parse();
        update()

function resizeChart() {
   chart1.resize();
}

dojo.addOnLoad(function() {
   dojo.connect(window, "onresize", resizeChart);
});
        function update() { 
           overlay = registry.byId("overlay"); 
           overlay.show(); 
           destroyComponents();
           period = $('input[name="period"]:checked').val();
           query = $('#metric').val();
           render(query, period);
           overlay.hide();
        }


        function destroyComponents() {
        //We destroy all the previous dynamic components
        domConstruct.empty("simplechart");
        }

        function update_desc(query, period) { 
          $("#metric_description").replaceWith('<span id="metric_description">' + imtitulo[query] + '</span>');
          $("#month_period").replaceWith('<span id="month_period">' + period_to_period_string(period) + '</span>');
        }
        function render(query, period) { 
        //Store
           if (last_period != period) {
              data_url = "{{SUPPORT_SERVER}}mview.php?period=" + period;
              update_store(data_url);
           }
           update_panel(period);
           update_desc(query, period);
           update_chart(query, period);
        }

        function update_store(data_url) {
           store = new Store({target: data_url});
        }
        
        function period_to_period_string (period) {
           period_string = '';
           if (period=='1y') {period_string = '12 months';}
           else if  (period=='3m') {period_string = '3 months';}
           else if (period=='6m') {period_string = '6 months';}
           else if (period=='1m') {period_string = '1 month';}
           return period_string;
        }
 
        function update_panel(period) {
           store.forEach(function(entry) { 
               last_values = entry;
            }).then( function(){ 
               period_string = period_to_period_string(period);
               $('#njobs-header').html('Number of jobs in last ' + period_string + ' period');
               $('#ncpu-header').html('Normalized CPU HEPSPEC06 hours in last ' + period_string + ' period');
               $('#ucpu-header').html('CPU Time hours in last ' + period_string + ' period');
            //   $('#nwall-header').html('Normalized Sum Elapsed HEPSPEC06 hours in last ' + period_string + ' period');
           //    $('#uwall-header').html('Sum Elapsed hours in last ' + period_string + ' period');
               $('#njobs-panel').html(addCommas(last_values['njobs']));
               $('#ncpu-panel').html(addCommas(last_values['normcpu_HEPSPEC06']));
               $('#ucpu-panel').html(addCommas(last_values['sumcpu']));
            //   $('#nwall-panel').html(addCommas(last_values['normelap_HEPSPEC06']));
            //   $('#uwall-panel').html(addCommas(last_values['sum_elap']));
            });
        }
        function update_chart(query, period) {
           // Line chart
           last_period = period;
           period_string = period_to_period_string(period);
           claro.chart.fill = "white";
           claro.chart.stroke = {color:"transparent"};
           claro.plotarea.fill = "white";
           domConstruct.empty("simplechart");
           chart1 = new Chart("simplechart", {width:"90%", height:"90%", enableCache: true, title: 'EGI '+imtitulo[query]+' in '+period_string+' periods', titlepos: "top", border: false, titleFont: "normal normal normal 15pt Oswald"});
           chart1.addPlot("default", {type: Markers}); 
           labels = [];
           values = [];
           index = 1;
           store.forEach(function(entry) { 
              labels.push({value: index, text: labeldate(entry.date)});
              values.push({y: entry[query], text: addCommas(entry[query]), titleFont: "normal normal normal 8pt Oswald", tooltip: '<p><b>'+ labeldate(entry.date) + '<\/b> <b>' + '<\/b><br/> '+ addCommas(entry[query]) + ' \n' + imtitulo[query] + '<\/p>'});
              index++;
           }).then(function(){
           chart1.addAxis("x", {vertical:false, titleFont: "normal normal bold 30pt Oswald", font: "normal normal normal 12pt Oswald", minorTicks: false, majorTickStep:1, includeZero:false, rotation: 40, labels: labels});
           chart1.addAxis("y", {min:0, titleFont: "normal normal normal 17pt Oswald", font: "normal normal normal 12pt Oswald", vertical: true, title: imtitulo[query], labelFunc: lfunc});

           chart1.addSeries("1", values, {stroke: {width: "4.0"}} );
           var mzap = new MouseZoomAndPan(chart1, "default", {axis: "x"});
           mzap.disconnect();
           var mzap_connected = false;
           $( "#simplechart" ).bind( "click", function() {
           if (mzap_connected) {
              mzap.disconnect();
              mzap_connected = false;
           } else {
              mzap.connect();
              mzap_connected = true;
           }
           });
           chart1.setTheme(claro);
           new Tooltip(chart1, "default");
           new Magnify(chart1, "default", {duration: 60, scale: 3});
           chart1.render();
        });}
        
        });
        });
        //]]>
        </script>
    </div>
  </div>
</body>
</html>
