
          <nav class="navbar navbar-default navbar-static-top">
            <!--<img src="/static/core/images/egi_logo_alpha.png" style="width:163px; height:25px; margin-top:10px; vertical-align:center; float:left;" />-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" contenteditable="false">Accounting Portal</a>
        </div>
         <div id="navbar" class="navbar-collapse collapse"> 
          <ul class="nav navbar-nav navbar-left">
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">High-Throughput Compute<b class="caret"></b></a>
                    <ul id="ngis_menu" class="dropdown-menu multi-level"></ul>
                  </li>
                  <li> <a class="dropdown-toggle" data-toggle="dropdown">Cloud Compute<b class="caret"></b></a>
                    <ul id="cloud_menu" class="dropdown-menu multi-level"></ul>
                  </li>
                      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Disciplines<b class="caret"></b></a>
                    <ul id="disciplines_menu" class="dropdown-menu multi-level"></ul>
                </li>
                <li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research Infrastructures<b class="caret"></b></a>
                    <ul id="tier_menu" class="dropdown-menu">
                    <li class="dropdown-header">WLCG</li>
                    <li class="divider"></li>
                    <li><a href="/tier1/">Tier 1</a></li>
                    <li><a href="/tier1/cloud/">Tier 1 Cloud</a></li>
                    <li><a href="/tier2/">Tier 2</a></li>
                    <li><a href="/tier2/cloud/">Tier 2 Cloud</a></li>
                    <li><a href="/wlcg/countries/">Countries</a></li>
                    <li><a href="/osg/">OSG</a></li>
                    </ul>
</li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                    <ul id="reports_menu" class="dropdown-menu">
                      <li class="dropdown-header">WLCG Reports</li>
                      <li><a href="/wlcg/report/tier1/" class="">Tier 1</a></li>
                      <li><a href="/wlcg/report/tier2/" class="">Tier 2</a></li>
                      <li><a href="/wlcg/report/countries/" class="">Countries</a></li>
                    <li class="divider"></li>
                      <li><a href="/report/interngi/" class="">InterNGI</a></li>
                      <li><a href="/report/resource_centres/" class="">Resource Centres</a></li>
                      <li><a href="/report/disciplines/" class="">Disciplines</a></li>
                      <li><a href="/report/vomet/" class="">VO Metrics</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Restricted Views<b class="caret"></b></a>
                    <ul id="restricted_views_menu" class="dropdown-menu">
                      <li class="dropdown-header">High Throughtput Compute</li>
                      <li><a href="/vo_admin/" class="">VO Admin</a></li>
                      <li><a href="/site_admin/" class="">Resource Centre Admin</a></li>
                      <li><a href="/user_view/" class="">User View</a></li>
                      <li class="dropdown-header">Cloud</li>
                      <li><a href="/vo_admin/cloud/" class="">VO Admin</a></li>
                      <li><a href="/site_admin/cloud/" class="">Resource Centre Admin</a></li>
                      <li><a href="/user_view/cloud/" class="">User View</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                    <ul id="help_menu" class="dropdown-menu">
                      <li><a href="/static/EGI Accounting Portal User's Guide.pdf" class="">User Documentation</a></li>
                      <li><a href="mailto:grid-admin@cesga.es" class="">Contact</a></li>
                    </ul>
                  </li>
                </ul>

                <div class="breadcrumb" style="float: right; height:10px;margin-top: 7px">
                  <span id="first_level"></span> <span id="second_level"></span> <span id="third_level"></span>
                </div>
              </ul>
         </div>
          </nav><!-- Begin page content -->
