
          <nav class="navbar navbar-default navbar-static-top">
            <!--<img src="/static/core/images/egi_logo_alpha.png" style="width:163px; height:25px; margin-top:10px; vertical-align:center; float:left;" />-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" contenteditable="false">Accounting Portal</a>
        </div>
         <div id="navbar" class="navbar-collapse collapse"> 
          <ul class="nav navbar-nav navbar-left">
                <li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tier 1<b class="caret"></b></a>
                    <ul id="tier_menu" class="dropdown-menu">
                    <li><a href="/wlcg/tier1/">Grid</a></li>
                    <li><a href="/wlcg/tier1/cloud/">Cloud</a></li>
                    </ul>
</li>
                <li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tier 2<b class="caret"></b></a>
                    <ul id="tier_menu" class="dropdown-menu">
                    <li><a href="/wlcg/tier2/">Grid</a></li>
                    <li><a href="/wlcg/tier2/cloud/">Cloud</a></li>
                    </ul>
</li>
                <li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">WLCG Sites<b class="caret"></b></a>
                    <ul id="tier_menu" class="dropdown-menu">
                    <li><a href="/wlcg/countries/">Countries</a></li>
                    <li><a href="/wlcg/osg/">OSG</a></li>
                    </ul>
</li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">WLCG Reports<b class="caret"></b></a>
                    <ul id="reports_menu" class="dropdown-menu">
                      <li><a href="/wlcg/report/tier1/" class="">Tier 1</a></li>
                      <li><a href="/wlcg/report/tier2/" class="">Tier 2</a></li>
                      <li><a href="/wlcg/report/countries/" class="">Countries</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Restricted Views<b class="caret"></b></a>
                    <ul id="restricted_views_menu" class="dropdown-menu">
                      <li class="dropdown-header">Grid</li>
                      <li><a href="/wlcg/vo_admin/" class="">VO Admin</a></li>
                      <li><a href="/wlcg/site_admin/" class="">Site Admin</a></li>
                      <li><a href="/wlcg/user_view/" class="">User View</a></li>
                      <li class="dropdown-header">Cloud</li>
                      <li><a href="/wlcg/vo_admin/cloud/" class="">VO Admin</a></li>
                      <li><a href="/wlcg/site_admin/cloud/" class="">Site Admin</a></li>
                      <li><a href="/wlcg/user_view/cloud/" class="">User View</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                    <ul id="help_menu" class="dropdown-menu">
                      <li><a href="/static/EGI Accounting Portal User's Guide.pdf" class="">User Documentation</a></li>
                      <li><a href="mailto:grid-admin@cesga.es" class="">Contact</a></li>
                    </ul>
                  </li>
                </ul>

                <div class="breadcrumb" style="float: right; height:10px;margin-top: 7px">
                  <span id="first_level"></span> <span id="second_level"></span> <span id="third_level"></span>
                </div>
              </ul>
         </div>
          </nav><!-- Begin page content -->
