{% extends "base.html" %}
{% block description %}
<div id="page_text" style="clear:both">
This view shows the accounting data {% if not site %} from all Cloud Sites that are in the <a href="https://www.opensciencegrid.org/">Open Science Grid</a>{% endif %}{%if country %} in {{country}}{% elif ngi %} in {{ngi}}{% elif site %} in OSG Site {{site}}{% else %}{%endif%}. {%if not site%}Only production certified Sites are included.{% endif %}

The metric shown is <span id="metric_description">Total number of jobs</span>, grouped by <span id="inputY_description">Region</span> and <span id="inputX_description">Date</span>, <span id="vo_description">the official EGI VOs </span> are shown. <span id="LocalJobs_description"></span>
</div>
{% endblock %}
{% block option %}{%if site %}"SITE"{%else%}"ROC"{%endif%}{% endblock %}
{% block tree %}"OSG"{% endblock %}
{% block inputMetric %} 
<option class='' data-toggle='tooltip' data-title='Number of VMs'  data-dojo-props='position:['above']' data-content='Number of VM instances running in the selected time period.' value='vm_num'>Number of Virtual Machines</option>
<option data-toggle='tooltip' data-title='Wall Hours' data-dojo-props='position:['above']' data-content='Hours of not normalised wall-clock time consumed by jobs, including I/O, OS and other housekeeping tasks.' selected='selected' class='' value='sum_elap'>Sum Wall hours (Elapsed time)</option> 
<option data-toggle='tooltip' data-title='Monetary cost estimate' data-dojo-props='position:['above']' data-content='Estimated cost in € of the resources allocated in the infrastructure. Currently used only for informative aims.' class='' value='cost'>Monetary Cost</option>
<option data-toggle='tooltip' data-title='Inbound Network Traffic' data-dojo-props='position:['above']' data-content='Inbound network traffic in bytes towards running VM instances.' class='' value='net_in'>Inbound Network Traffic</option>
<option data-toggle='tooltip' data-title='Outbound Network Traffic' data-dojo-props='position:['above']' data-content='Outcoming network traffic in bytes from running VM instances.' class='' value='net_out'>Outbound Network Traffic</option>
<option data-toggle='tooltip' data-title='Memory Used' data-dojo-props='position:['above']' data-content='Amount of memory in  bytes allocated by running VM instances.' class='' value='mem'>Memory Used</option>
<option data-toggle='tooltip' data-title='Disk Used' data-dojo-props='position:['above']' data-content='Amount of storage in bytes allocated by running VMs instances.' class='' value='disk'>Disk Used</option>
{% endblock %}
{% block display_funcs %}
vodislabel = function(str){ return '<b><a style="text-decoration:none" href="/discipline/'+ str + '/' + state_url(null) +'">'+str+'</a></b>' };
sitelabel = function(str){ return '<b><a style="text-decoration:none" href="/osg/cloud/site/' + str + '/' + state_url('VO') + '">' + str + '</a></b>';};
ngilabel = function(str){ return '<b><a style="text-decoration:none" href="/osg/cloud/ngi/' + str + '/' + state_url('SITE') + '">' + str + '</a></b>';};
countrylabel = function(str){ return '<b><a style="text-decoration:none" href="/osg/cloud/country/' + str + '/' +  state_url('SITE') + '">' + str + '</a></b>';};
{% endblock %}
{% block XOptions %} 
<option data-title="Date" value="DATE" class="">Date</option>
<option data-title="Year" value="Year" class="">Year</option>
<option data-title="3M" value="3M" class="">Quarter</option>
<option data-title="6M" value="6M" class="">Half-year</option>
<option value="NUMBER PROCESSORS" class="">Number of processors</option>
{% if site %}
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" selected="selected" value="VO">VO</option>
<option value="SubmitHost" class="">Submit Host</option>
{% else %}
<option data-title="Site" value="SITE" selected="selected" class="">Site</option>
<option class="" value="VO">VO</option>
<option class="" value="STATUS">Status</option>
{% endif %}
<option class="" value="vm_id">VM Id</option>
{% endblock %} 
{% block YOptions %} 
<option data-title="Date" value="DATE" selected="selected" class="">Date</option>
<option data-title="Year" value="Year" class="">Year</option>
<option data-title="3M" value="3M" class="">Quarter</option>
<option data-title="6M" value="6M" class="">Half-year</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" value="VO">VO</option>
<option class="" value="STATUS">Status</option>
<option class="" value="vm_id">VM Id</option>
<option value="NUMBER PROCESSORS" class="">Number of processors</option>
{% endblock %} 
{% block title %}OSG Cloud Accounting{% endblock %}
{% block first_level %}<a href="/egi" class="">EGI</a>{% endblock %}
{% block second_level %}{% if site %}/ <a href="/osg/cloud/site/{{site}}" class="">{{site}}</a>{% elif ngi %}/ <a href="/osg/cloud/ngi/{{ngi}}" class="">{{ngi}}</a>{% elif country %}/ <a href="/osg/cloud/country/{{country}}" class="">{{country}}</a>{% endif %}{% endblock %}
{% block third_level %} {% endblock %}
{% block remote_url %}{% if site %}"{{SUPPORT_SERVER}}custom_cloud.php?&query="+query+"&option=SITE&optval={{site}}&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&localJobs="+localJobs+"&groupVO="+VOGroup+"&tree="+tree{% else %}"{{SUPPORT_SERVER}}custom_cloud.php?query="+query+"&option="+option+"&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&localJobs="+localJobs+"&groupVO="+VOGroup+"&tree="+tree+"&optval="{% endif %}{% endblock %}
