{% extends "base.html" %}
{% block description %}
<div id="page_text" style="clear:both">
This view shows the accounting data {% if not site %} from all Cloud Sites that are classified as WLCG Tier1 {% endif %}{%if country %} in {{country}}{% elif ngi %} in {{ngi}}{% elif site %} in WLCG Tier1 Site {{site}}{%elif node %} in Node {{node}}{% else %}{%endif%}. {%if not site%}Only production certified Sites are included.{% endif %}

The metric shown is <span id="metric_description">Total number of jobs</span>, grouped by <span id="inputY_description">Region</span> and <span id="inputX_description">Date</span>, <span id="vo_description">the official EGI VOs </span> are shown. <span id="LocalJobs_description"></span>
</div>
{% endblock %}
{% block option %}{% if site %}"SITE"{%elif node%}"ROC"{% else %}"TIER1"{% endif %}{% endblock %}
{% block tree %}"TIER1"{% endblock %}
{% block inputMetric %} 
<option class='' data-toggle='tooltip' data-title='Number of VMs'  data-dojo-props='position:['above']' data-content='Total number of Virtual Machines' value='vm_num'>Number of Virtual Machines</option>
<option data-toggle='tooltip' data-title='Wall Hours' data-dojo-props='position:['above']' data-content='Wall Clock CPU hours' class='' value='sum_cpu'>Sum Wall hours (Elapsed time)</option> 
<option data-toggle='tooltip' data-title='Monetary cost estimate' data-dojo-props='position:['above']' data-content='Monetary estimate in € of the cost incurred in the computation by the VMs ran in the period' class='' value='cost'>Monetary Cost</option>
<option data-toggle='tooltip' data-title='Inbound Network Traffic' data-dojo-props='position:['above']' data-content='Aggregate number of bytes of all the packets received by the VMs executed in the period' class='' value='net_in'>Inbound Network Traffic</option>
<option data-toggle='tooltip' data-title='Outbound Network Traffic' data-dojo-props='position:['above']' data-content='Aggregate number of bytes of all the packets sent by the VMs executed in the period' class='' value='net_out'>Outbound Network Traffic</option>
<option data-toggle='tooltip' data-title='Memory Used' data-dojo-props='position:['above']' data-content='Aggregate in bytes of the physical RAM memory used by the VMs ran in the period' class='' value='mem'>Memory Used</option>
<option data-toggle='tooltip' data-title='Disk Used' data-dojo-props='position:['above']' data-content='Aggregate in bytes of the accumulative physical disk space used by the VMs ran in the period' class='' value='disk'>Disk Used</option>
{% endblock %}
{% block display_funcs %}
sitelabel = function(str){ return '<b><a style="text-decoration:none" href="/tier1/cloud/site/' + str + '/' + state_url('VO') + '">' + str + '</a></b>';};
nodelabel = function(str){ return '<b><a style="text-decoration:none" href="/tier1/cloud/node/' + str + '/' + state_url('SITE') + '">' + str + '</a></b>';};
{% endblock %}
{% block XOptions %} 
<option data-title="Date" value="DATE" class="">Date</option>
<option data-title="Year" value="Year" class="">Year</option>
<option data-title="3M" value="3M" class="">Trimester</option>
<option data-title="6M" value="6M" class="">Semester</option>
{% if node %}
<option value="TIER1" class="">TIER1</option>
<option data-title="Site" value="SITE" class="" selected="selected">Site</option>
<option class="" value="VO">VO</option>
{% elif site %}
<option value="TIER1" class="">TIER1</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" selected="selected" selected="selected" value="VO">VO</option>
{% else %}
<option value="TIER1" class="" selected="selected">TIER1</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" value="VO">VO</option>
{% endif %}
<option class="" value="vm_id">VM Id</option>
{% endblock %} 
{% block YOptions %} 
<option data-title="Date" value="DATE" selected="selected" class="">Date</option>
<option data-title="Year" value="Year" class="">Year</option>
<option data-title="3M" value="3M" class="">Trimester</option>
<option data-title="6M" value="6M" class="">Semester</option>
<option value="TIER1" class="" >TIER1</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" value="VO">VO</option>
<option class="" value="vm_id">VM Id</option>
{% endblock %} 
{% block title %}Tier 1 Cloud Accounting{% endblock %}
{% block first_level %}<a href="/tier1/cloud/" class="">Tier1 Cloud</a>{% endblock %}
{% block second_level %}{% if site %}/ <a href="/tier1/cloud/site/{{site}}" class="">{{site}}</a>{% elif node %}/ <a href="/tier1/cloud/node/{{node}}" class="">{{node}}</a>{% endif %}{% endblock %}
{% block third_level %}{% endblock %}
{% block remote_url %}{% if site %}"{{SUPPORT_SERVER}}custom_cloud.php?&query="+query+"&option=SITE&optval={{site}}&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&groupVO="+VOGroup+"&localJobs="+localJobs+"&tree="+tree{% elif node %}"{{SUPPORT_SERVER}}custom_cloud.php?&query="+query+"&option="+option+"&optval={{node}}&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&groupVO="+VOGroup+"&localJobs="+localJobs+"&tree="+tree {% elif site %} {% else %}"{{SUPPORT_SERVER}}custom_cloud.php?query="+query+"&option="+option+"&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&groupVO="+VOGroup+"&localJobs="+localJobs+"&tree="+tree+"&optval="{% endif %}{% endblock %}
