{% extends "base.html" %}
{% block description %}
<div id="page_text" style="clear:both">
This view shows the accounting data {% if not site %} from all Grid Sites that are classified as WLCG Tier1 {% endif %}{%if country %} in {{country}}{% elif ngi %} in {{ngi}}{% elif site %} in WLCG Tier1 Site {{site}}{%elif node %} in Node {{node}}{% else %}{%endif%}. {%if not site%}Only production certified Sites are included.{% endif %}

The metric shown is <span id="metric_description">Total number of jobs</span>, grouped by <span id="inputY_description">Region</span> and <span id="inputX_description">Date</span>, <span id="vo_description">the official EGI VOs </span> are shown. <span id="LocalJobs_description"></span>
</div>
{% endblock %}
{% block option %}{% if site %}"SITE"{%elif node%}"ROC"{% else %}"TIER1"{% endif %}{% endblock %}
{% block tree %}"TIER1"{% endblock %}
{% block inputMetric %} 
<option class='' data-title='Number of jobs'  data-dojo-props='position:['above']' data-content='Number of discrete jobs launched, independent on completion status.' selected="selected" value='njobs'>Number of jobs</option>
<option data-title='Sum CPU Time Hours' data-dojo-props='position:['above']' data-content='Hours of CPU Time as reported to APEL by the batch system.' class='' value='sumcpu'>Sum CPU Time Hours</option> 
<option data-title='Sum CPU Time Days' data-dojo-props='position:['above']' data-content='Days of CPU Time as reported to APEL by the batch system.' class='' value='sumcpu_days'>Sum CPU Time Days</option> 
<option class='' data-title='Sum CPU Work HS06 Hours'  data-dojo-props='position:['above']' data-content='(Same as "Normalized Sum CPU"). Sum of CPU Time Hours as reported to APEL by the batch system and multiplied by benchmarked HEPSPEC06 power for a given resource.' value='normcpu'>Sum CPU Work HS06 Hours</option> 
<option class='' data-title='Sum CPU Work HS06 Days'  data-dojo-props='position:['above']' data-content='(Same as "Normalized Sum CPU"). Sum of CPU Time Days as reported to APEL by the batch system and multiplied by benchmarked HEPSPEC06.' value='normcpu_days'>Sum CPU Work HS06 Days</option> 
<option data-title='Sum Wallclock Time Hours' data-dojo-props='position:['above']' data-content='(Same as "Sum elapsed * Number of processors"). Wallclock time as reported by the batch system. For some sites represent raw wallclock time defined as end time stamp of a particular job minus start time stamp and multiplied by number of processors. There are other sites which do not report raw wallclock time, but rather report raw wallclock time scaled by a batch system to a reference node. For such sites this metric currently shows scaled wallclock multiplied by number of processors.' class='' value='elap_processors'>Sum Wallclock Time Hours</option> 
<option data-title='Sum Wallclock Time Days' data-dojo-props='position:['above']' data-content='(Same as "Sum elapsed * Number of processors"). Wallclock time as reported by the batch system. For some sites represent raw wallclock time defined as end time stamp of a particular job minus start time stamp and multiplied by number of processors. There are other sites which do not report raw wallclock time, but rather report raw wallclock time scaled by a batch system to a reference node. For such sites this metric currently shows scaled wallclock multiplied by number of processors.' class='' value='elap_processors_days'>Sum Wallclock Time Days</option> 
<option data-title='Sum Wallclock Work HS06 Hours' data-dojo-props='position:['above']' data-content='(Same as "Normalised Sum elapsed * Number of processors"). Wallclock time as reported by the batch system and multiplied by benchmarked HEPSPEC06 power of a given CPU resource and by number of processors. For some sites represent raw wallclock time defined as end time stamp of a particular job minus start time stamp and multiplied by number of processors.  There are other sites which do not report raw wallclock time, but rather report raw wallclock time scaled by a batch system to a reference node. For such sites this metric currently shows scaled and Normalised Wallclock multiplied by Number of Processors' class='' value='normelap_processors'>Sum Wallclock Work HS06 Hours</option> 
<option data-title='Sum Wallclock Work HS06 Days' data-dojo-props='position:['above']' data-content='(Same as "Normalised Sum elapsed * Number of processors"). Wallclock time as reported by the batch system and multiplied by benchmarked HEPSPEC06 power of a given CPU resource and by number of processors. For some sites represent raw wallclock time defined as end time stamp of a particular job minus start time stamp and multiplied by number of processors.  There are other sites which do not report raw wallclock time, but rather report raw wallclock time scaled by a batch system to a reference node. For such sites this metric currently shows scaled and Normalised Wallclock multiplied by Number of Processors' class='' value='normelap_processors_days'>Sum Wallclock Work HS06 Days</option> 
<option data-title='CPU Efficiency' data-dojo-props='position:['above']' data-content='100 * Sum CPU Time / Sum (Wallclock Time * Number of Processors).' class='' value='cpueff'>CPU Efficiency</option>
{% endblock %}
{% block display_funcs %}
sitelabel = function(str){ return '<b><a style="text-decoration:none" href="/{{wlcg}}tier1/site/' + str + '/' + state_url('VO') + '">' + str + '</a></b>';};
nodelabel = function(str){ return '<b><a style="text-decoration:none" href="/{{wlcg}}tier1/node/' + str + '/' + state_url('SITE') + '">' + str + '</a></b>';};
{% endblock %}
{% block XOptions %} 
<option data-title="Date" value="DATE" class="">Date</option>
<option data-title="Year" value="Year" class="">Year</option>
<option data-title="3M" value="3M" class="">Quarter</option>
<option data-title="6M" value="6M" class="">Half-year</option>
{% if node %}
<option value="TIER1" class="">TIER1</option>
<option data-title="Site" value="SITE" class="" selected="selected">Site</option>
<option class="" value="VO">VO</option>
{% elif site %}
<option value="TIER1" class="">TIER1</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" selected="selected" selected="selected" value="VO">VO</option>
{% else %}
<option value="TIER1" class="" selected="selected">TIER1</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" value="VO">VO</option>
{% endif %}
<option value="SubmitHost" class="">Submit Host</option>
<option value="NUMBER PROCESSORS" class="">Number of processors</option>
<option value="NODECOUNT" class="">Nodes</option>
{% endblock %} 
{% block YOptions %} 
<option data-title="Date" value="DATE" selected="selected" class="">Date</option>
<option data-title="Year" value="Year" class="">Year</option>
<option data-title="3M" value="3M" class="">Quarter</option>
<option data-title="6M" value="6M" class="">Half-year</option>
<option value="TIER1" class="" >TIER1</option>
<option data-title="Site" value="SITE" class="">Site</option>
<option class="" value="VO">VO</option>
<option value="SubmitHost" class="">Submit Host</option>
<option value="NUMBER PROCESSORS" class="">Number of processors</option>
<option value="NODECOUNT" class="">Nodes</option>
{% endblock %} 
{% block title %}Tier 1 Grid Accounting{% endblock %}
{% block first_level %}<a href="/{{wlcg}}tier1/" class="">Tier1</a>{% endblock %}
{% block second_level %}{% if site %}/ <a href="/{{wlcg}}tier1/site/{{site}}" class="">{{site}}</a>{% elif node %}/ <a href="/{{wlcg}}tier1/node/{{node}}" class="">{{node}}</a>{% endif %}{% endblock %}
{% block third_level %}{% endblock %}
{% block remote_url %}{% if site %}"{{SUPPORT_SERVER}}custom_xml.php?&query="+query+"&option=SITE&optval={{site}}&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&groupVO="+VOGroup+"&localJobs="+localJobs+"&tree="+tree{% elif node %}"{{SUPPORT_SERVER}}custom_xml.php?&query="+query+"&option="+option+"&optval={{node}}&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&groupVO="+VOGroup+"&localJobs="+localJobs+"&tree="+tree{% elif site %} {% else %}"{{SUPPORT_SERVER}}custom_xml.php?query="+query+"&option="+option+"&sYear="+sYear+"&sMonth="+sMonth+"&eYear="+eYear+"&eMonth="+eMonth+"&yrange="+yrange+"&xrange="+xrange+"&groupVO="+VOGroup+"&localJobs="+localJobs+"&tree="+tree+"&optval="{% endif %}{% endblock %}
